.cart {
  &__title-wrap {
    height: 148px;
    background: #F8F3F4;
    display: flex;
  }

  &__title {
    align-self: center;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 29px;
    color: $pink-text;
    font-weight: 400;
  }

  &__wrap {
    display: flex;
  }

  &__products {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 96px;
    flex-grow: 1;
  }

  &__products_item {
    display: flex;
    margin-bottom: 40px;
    -webkit-box-shadow: 10px 10px 20px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 10px 10px 20px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 10px 10px 20px 0px rgba(34, 60, 80, 0.2);
  }

  &__products_item:hover,
  &__products_item:active,
  &__products_item:focus {
    cursor: pointer;
    outline: none;
    opacity: 0.5;
  }

  &__products_item_img {
    width: 40%;
  }

  &__products_item_info {
    padding-left: 31px;
    padding-top: 22px;
  }

  &__products_item_info_title {
    text-transform: uppercase;
    @include font(24px, 29px);
    padding-right: 100px;
    padding-bottom: 28px;
  }

  &__products_item_info_color,
  &__products_item_info_size,
  &__products_item_info_price {
    @include font(22px, 26px);
    color: #575757;
  }

  &__products_item_info_quantity {
    @include font(22px, 26px);
    margin-bottom: 62px;
    color: #575757;
  }

  &__products_item_info_price-rate {
    color: $pink-text
  }

  &__products_buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 128px;
  }

  &__products_button {
    background: #FFFFFF;
    padding: 17px 40px;
    border: 1px solid #A4A4A4;
    @include font(14px, 17px, 300);
    color: #000000;
    text-transform: uppercase;
  }

  &__products_button:hover,
  &__products_button:active,
  &__products_button:focus {
    cursor: pointer;
    outline: none;
    opacity: 0.5;
    background: $pink-text;
    color: $white-text;
  }

  &__adress {
    padding-left: 128px;
    padding-top: 113px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__form-fieldset {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__form-legend {
    @include font(16px, 19px, 300);
    color: #222222;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  &__input {
    width: 100%;
    margin: 10px 0;
    height: 44px;
    border: 1px solid #A4A4A4;
    padding-left: 16px;
  }

  &__adress_button {
    background: #FFFFFF;
    padding: 17px 40px;
    border: 1px solid #A4A4A4;
    @include font(14px, 17px, 300);
    color: #000000;
    text-transform: uppercase;
    margin-top: 14px;
    margin-bottom: 57px;
  }

  &__adress_button:hover,
  &__adress_button:active,
  &__adress_button:focus {
    cursor: pointer;
    outline: none;
    opacity: 0.5;
    background: $pink-text;
    color: $white-text;
  }

  &__adress_total {
    background: #F5F3F3;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__adress_total_subtotal {
    text-align: right;
    font-size: 11px;
    line-height: 13px;
    color: #4A4A4A;
    margin-bottom: 12px;
  }

  &__adress_total_grandtotal {
    text-align: right;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #222222;
    margin-bottom: 39px;
  }

  &__adress_total_grandtotal-rate {
    color: $pink-text
  }

  &__adress_total-button {
    background-color: $pink-text;
    color: $white-text;
    border: 0;
    padding: 15px 41px;
    text-transform: uppercase;
    position: relative;
  }

  &__adress_total-button:before {
    content: '';
    width: 100%;
    height: 1px;
    background: #E2E2E2;
    position: absolute;
    top: -17px;
    transform: translateX(-23%);
  }

  &__adress_total-button:hover,
  &__adress_total-button:active,
  &__adress_total-button:focus {
    cursor: pointer;
    outline: none;
    opacity: 0.5;
  }
}